<!-- page content -->
<!-- CSS para la formula de calculo -->
<style media="screen">
  .fraction {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.2em 0.4ex;
      text-align: center;
  }
  .fraction > span {
      display: block;
      padding-top: 0.15em;
  }
  .fraction span.fdn {border-top: thin solid black;}
  .fraction span.bar {display: none;}
</style>
<!-- CSS para la formula de calculo -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Tables <small>Some examples to get you started</small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Basic Tables <small>basic table subtitle</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Encabezado</th>
                  <th>Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Nombre</th>
                  <td>Taza de informalidad Laboral</td>
                </tr>
                <tr>
                  <th scope="row">Definición</th>
                  <td>Proporción de la población ocupada que es laboralmente vulnerable por la naturaleza de la unidad económica para la que trabaja, con aquellos cuyo vinculo o dependencia laboral no es reconocido por su fuente de trabajo.</td>
                </tr>
                <tr>
                  <th scope="row">Formula de Cálculo</th>
                  <td>Taza</td>
                </tr>
                <tr>
                  <th scope="row">Méodo de Cálculo</th>
                  <td>
                    <div class="eq-c">
                    <i>=</i>
                      <div class="fraction">
                        <span class="fup">Población ocupada en el sector informal</span>
                        <span class="bar">/</span>
                        <span class="fdn">Población ocupada</span>
                      </div>
                      X 100
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tipo de Indicador</th>
                  <td>Estratégico</td>
                </tr>
                <tr>
                  <th scope="row">Dimensión a Medir</th>
                  <td>Eficacia</td>
                </tr>
                <tr>
                  <th scope="row">Frecuencia de Medida</th>
                  <td>Trimestral</td>
                </tr>
                <tr>
                  <th scope="row">Sentido esperado</th>
                  <td>Descendente</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>


      <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          {{this.imprimir}}
          <br>
          {{this.imprimir[0]}}
          <br>
          {{this.imprimir[0][0]}}
          <br>
          {{this.imprimir[0][0].nombre}}
          <br>
        </div>
        <div class="clearfix"></div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <ul *ngFor="let imp of imprimir; let i = index">
              <li>Nombre: {{this.imprimir[i][0].nombre}}</li>
              <li>
                Estrategias: {{this.imprimir[i][0].estrategia}}
                <ul *ngFor="let subimp of imprimir[i][0].estrategia; let j = index">
                  <li>Nombre: {{this.imprimir[i][0].estrategia[j].nombre}}</li>
                  <li>
                    Lineas de Acción: {{this.imprimir[i][0].estrategia[j].lineasAccion}}
                    <ul *ngFor="let subsubimp of this.imprimir[i][0].estrategia[j].lineasAccion; let k = index">
                      <li>{{this.imprimir[i][0].estrategia[j].lineasAccion[k].nombre}}</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <pre>
          {{imprimir | json}}
        </pre>
      </div>

    </div>
  </div>
</div>
<!-- /page content -->
